html,body #menuBar{
    background: url('batman.jpg') no-repeat center center fixed;
    height: 100%;
    background-size: cover;
    padding-bottom: 10%;
    max-height: 1500%;
}

.fixed-top{
    max-width: 1140px;
    margin: 30px auto;
    font-family: 'Merriweather Sans', sans-serif;

}

#navbarNav a {
    color:white ;
    text-transform: uppercase;
}

#navbarNav a:hover{
    color:blue;
}

.navbar-brand{
    color: yellow;
}

.navbar-brand:hover{
    color:white;
}

.wrapper{
    margin-top: 50%;
}
.wrapper h1{
    color: #fff;
    text-transform: capitalize;
    font-family: 'Merriweather Sans', sans-serif;
}

.btn-primary{
    font-size: large;
    text-transform: uppercase;

}

.btn-primary:hover{
    color: red;
    background-color: black;
}


/* bu kısımda olan padding özelliğine sonradan bakılacak*/
#movies{
    background-color: #f7f7f7;
    padding: 120px;
    height: 100%;
}

.movies-top{
    text-align: center;
}

.movies-top h1{
    text-transform: uppercase;
    font-family: 'Dancing Script', cursive;
}

.movies-top h3{
    text-transform: capitalize;
    padding-top: 15px;
    font-family: 'Balsamiq Sans', cursive;
    color:#ffff00;

}

.card {
    border-style: none;
    background-color: #f7f7f7;
    margin: 0 10px;
    
}

.cardRow{
    margin: 50px 0px;
}

.cardRow h4{
    text-align: center;
    text-transform: uppercase;
    padding:20px 0;
}

.cardRow p{
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
}

#about{
    background: url('back-2.jpg') no-repeat center center fixed;
    height: 100%;
    padding: 150px;
    background-size: cover;
}

.about-top{
    text-align: center;
}

.about-top h1{
    text-transform: uppercase;
    font-family: 'Dancing Script', cursive;
    color:white;
}

.about-top h3{
    text-transform: capitalize;
    padding-top: 15px;
    font-family: 'Balsamiq Sans', cursive;
    color:#ffff00;

}

.about-content .row{
    color:white;
    margin-top: 50px;
}
.about-content h1{
    margin-top: 15px;
}
.about-content h2{
    color:#ff8000;
    margin: 10px 0;
}